nav ul {
    display: inline;
}

nav ul>li {
    display: none;
}

nav ul:hover>li {
    display: flex;
}

nav ul:hover {
    display: inline-table;
}

nav li {
    padding: 0px;
    margin: 0px;
}

nav ul>li {
    list-style-type: none;
}
